.skill {

    &_content {
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 100%;
        align-items: center;
        justify-items: center;
        justify-content: center;


        &_personalWrapper, &_content_serviceWrapper{
            width: 100%;
            align-items: center;
            justify-items: center;
            justify-content: center;
        }


        &_serviceWrapper {
            display: flex;
            justify-content: center;
            text-align: center;

            h3 {
                margin-bottom: 10px;
                font-size: 18px;
                color: var(--yellow-theme-main-color);
            }

            h3.personalInformationHeader {
                padding-top: 20px;
                font-size: 24px;
                color: var(--yellow-theme-main-color);
                justify-content: center;

                
            }
    
            ul>li {
                line-height: 1.4rem;
                margin-bottom: 15px;
                text-decoration: none;
                list-style: none;
                color: var(--yellow-theme-main-color);
          
                
            span.value{
                    color: var(--yellow-theme-sub-text-color);
                    font-size: 1.2 rem;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    letter-spacing: .5px;
                  
                }
                
             

                
            }
          


        }
       

    }

    
}

@media only screen and (max-width : 768px) {
    .skill {
       
    &_content {
        display: flex;
        gap: 20px;
        padding: 20px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        
        &_personalWrapper, &_serviceWrapper{
            width: 100%;
            
        }
        
        
       
        &_serviceWrapper {
            align-items: center;
            justify-content: center;
            justify-items: center;
    
        }
        
    }

   
}
}
