div{
    margin: 0;
    padding: 0;
}
.navbar_container_menu_item_links {
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
}

.navbar {
    background-color: var(--yellow-theme-nave-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;


    &_container {
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        flex: 1;

        &_logo {
            color: var(--yellow-theme-main-color);
            cursor: pointer;


        }


        &_menu {
            display: flex;
            list-style: none;
            text-align: center;
            color: var(--yellow-theme-main-color);
            cursor: pointer;

            &_item {
                line-height: 40px;
                margin-right: 1.5rem;
                font-size: 1.2rem;

                &::after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    width: 100%;
                    background-color: var(--yellow-theme-main-color);
                }

                &_links {
                    list-style: none;
                    text-align: center;
                    cursor: pointer;
                    color: var(--yellow-theme-main-color);
                    text-decoration: none;
                    padding: 0.5rem;
                }


            }
        }
    }


}

.nav-icon {
    display: none;
}

@media only screen and (max-width : 768px) {
    .navbar_container_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1px solid #ffffff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 100%;
        transition: all 0.5s ease;

        &.active {
            background: #181818;
            left: 0px;
            opacity: 100%;
        }
    }

    .nav-icon {
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }
}